h1 {color: rgb(13, 13, 88);}
h1 {font-size: 250%;}
h1 {margin-left: 40%;}
#ima1 {width: 22%;}
#ima2 {width: 20%;}
#ima3 {width: 22%;}
#ima1 {margin-left: 17%;}

h2 {text-align: center;}
h2 {color: rgb(63, 63, 63);}

i {margin-left: 38%;}
i {font-size: 170%;}
i {color: rgb(177, 0, 0);}
